@import url(http://fonts.googleapis.com/css?family=Lobster);

.container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.box-left {
  height: 500px;
  /*border: 1px solid #000;*/
}

.message {
  margin-top: 45px;
  font-family: 'Lobster', cursive;
}

.sub-msg {
  font-family: Helvetica
}

.word-form {
  margin-top: 30px;
}

.save-new {
  background-color: #FD304D;
  color: #FFF;
}

.letters {
  margin-top: 50px;
  margin-bottom: 20px;
}

.letter {
  width: 34px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.letter-btn {
  width: 100%;
  background-color: #4850D5;
  color: #FFF;
}

.char-box {
  width: 25px;
  display: inline-block;
  /*border-bottom: 1px solid black;*/
  margin-right: 5px;
  margin-bottom: -10px;
}

.char h3 {
  margin-left: 4px;
}

.space {
  width: 25px;
  height: 2px;
  display: inline-block;
  border-bottom: 1px solid black;
  margin-right: 5px;
}

.msg {
  font-family: 'Lobster', cursive;
}

.saved-word {
  color: #4850D5;
  font-family: Helvetica
}

.restart {
  margin-top: 20px;
}